extends layout

block content
  header
    div.headline='Password Manager 9000'
  div#info-container
    div#info(style='display:none')
  form#form-register(action='./' method='POST')
   label(for='name') Anmeldename [Aktueller Login-Name für das Wiki]:
   input#firstname(name='name', type='text', required='', autocomplete='off',placeholder='', maxlength="50")
   label(for='password') Password [Aktuelles Login-Passwort für das Wiki]:
   input#firstname(name='password', type='password', required='', autocomplete='off',placeholder='', maxlength="50")
   fieldset#party(required='true')
     legend Fachschaft:
     input(type='radio', name='party', value='fsgi', required='')
     | fsgi
     br
     input(type='radio', name='party', value='fsgelok', required='')
     | fsgeoloek
     br
   input(type='submit', value='Absenden')
  script(src='https://code.jquery.com/jquery-2.2.4.min.js' integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=' crossorigin='anonymous')
  script(src='js/index.js')
